{# src/AppBundle/Resources/view/General/addPerson.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Add Person - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Add Person</h2>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.firstname, "Firstname", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.firstname) }}

            <div class="col-md-8">
                {# Génération de l'input. #}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>

            {# Génération du label. #}
            {{ form_label(form.lastname, "Lastname", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.lastname) }}

            <div class="col-md-8">
                {# Génération de l'input. #}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>

            {# Génération du label. #}
            {{ form_label(form.job, "Job", {'label_attr': {'class': 'col-md-4 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.job) }}

            <div class="col-md-8">
                {# Génération de l'input. #}
                {{ form_widget(form.job, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>

{% endblock %}
