{# On utilise ici le layout général, qui se situe dans ce même AppBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Home Page - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Home Page</h2>

    {# On affiche tous les messages flash dont le nom est « notice » #}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    <ul class="list-group">
        <li class="list-group-item list-group-item-info">          
            <h3>Personnes list ( contain person that can be an employee so the link is not really useful )</h3>
        </li>
        {% for person in listPerson %}
            <li class="list-group-item">
                <a href="{{ path('view_person', {'id': person.id}) }}">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ person.lastname }} {{ person.firstname }}                   
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        <li class="list-group-item list-group-item-info">          
            <h3>Employees list</h3>
        </li>
        {% for employee in listEmployee %}
            <li class="list-group-item">
                <a href="{{ path('view_employee', {'id': employee.id}) }}">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ employee.lastname }} {{ employee.firstname }}                   
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
